<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../Favicon/dato.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../Css/Quiz/quiz_programacion.css">
  <title>Quiz Programación - App Jaak</title>
</head>
<body>
  <div class="container">
    <div id="home" class="flex-colum flex-center">
      <h1>¿Listo ó lista?</h1>
      <a href="Game/game_programacion.html" class="btn">Aprender</a>
      <a href="/highscores.html" class="btn" id="highscore-btn">Puntajes<i class="fas fa-crown"></i></a>
    </div>
  </div>
  
  <!-- JavaScript, funcionaldidad del programa -->
  <script src="../../JS/programacion.js"></script>
  <!-- CDN de FontAssom -->
  <script src="https://kit.fontawesome.com/8d2e9c64a6.js" crossorigin="anonymous"></script>
</body>
</html>