<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inglés - App Jaak</title>
  <link rel="shortcut icon" href="../../Favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../Css/styles_game.css">
</head>
<body>
  <div class="container">
    <div id="home" class="flex-colum flex-center">
      <h1>¿Listo ó lista?</h1>
      <a href="Game/game_ingles.html" class="btn">Aprender</a>
      <a href="Game/highscores.html" class="btn" id="highscore-btn">Puntajes<i class="fas fa-crown"></i></a>
    </div>
  </div>
</body>
</html>