<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Puntaje final de la sección de preguntas - App Jaak">
  <title>Puntaje final - App Jaak </title>
  <link rel="shortcut icon" href="../../../Favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../../Css/styles_game.css">
</head>
<body>
  <div class="container">
    <div id="end" class="flex-center flex-column">
      <h1 id="finalScore">0</h1>
      <form class="end-form-container">
        <h2 id="end-text">Ingrese su nombre para registrar su puntaje!</h2>
        <input type="text" name="name" id="username" placeholder="Kevin Alexander Lima Recinos">
        <button class="btn" id="saveScoreBtn" type="submit" onclick="saveHighScore(event)">Guardar Puntaje!</button>

        
      </form>
      <a href="../Game/game_programacion.html" class="btn btn-repetir">Repetir Preguntas</a>
      <a href="../../../../../../index.html" class="btn btn-inicio">Inicio</a>
    </div>
  </div>

  <!-- CDN de FontAssom -->
  <script src="https://kit.fontawesome.com/8d2e9c64a6.js" crossorigin="anonymous"></script>
  <!-- Funcionalidad de la página -->
  <script src="../../../JS/Quiz/Game/end.js"></script>
</body>
</html>