<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Suscripciones disponibles de la empresa App Jaak, estos servicios desbloquearán nuevas llaves dentro de nuestra plataforma.  Unete a los más de 250mil personas que confian en App Jaak, y invierte en tu educación">
  <title>Servicios - App Jaak</title>
  <link rel="shortcut icon" href="../../Favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="card.css">
</head>
<body>
  <div class="product">
    <div class="image">
      <img src="../../Images/profesor.png" title="15-inch MacBook Pro" alt="Product image" />
    </div>
    <div class="description">
      <div class="price">Q12.99</div>
      <div class="rating">★★★★☆</div>
      <h1>Full Student</h1>
      <h2>Estudiante con excelencia</h2>
      <p>Acceso las 24hrs. en la plataforma</p>
      <p>Créditos en su perfil</p>
      <p>1 mes de prueba</p>
      <p></p>
      <p>Datos 100% cifrados</p>
      <p></p>
      <p>Aprendizajes exclusivos</p>
      <a href="credit-card.html" class="button">¡Comprar Ahora!</a>
    </div>
  </div>
  
  
  <script src="card.js"></script>
</body>
</html>